
body {
    background-color:lightgrey;
   

}


header {
        background-image: url(BYG-Background.png);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
}
nav{

    font-size: 40px;
    background-color: hotpink;
   
}
 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-around;
   text-decoration: underline;
    
 
 }
nav ul li:hover {
    background-color: thistle;
    color:green;
    
}


header> h1 {

    font-size: 75px;
    font-weight: bold;
}


.about> p {

    font-size: 20px;
    color: navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: ;

}

.work> h2 {

    display: flex;
    color: navy;
    font-size: 35px;

}

.contact> h1 {

    display: flex;
    color: navy;
    font-size: 35px;
}

.about> h2 { 
    
    display: flex;
    color: navy;
    font-size: 35px;